@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

:root{
    --hg:'Orelega One', cursive;
}

body{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boyuk{
/* 
   background-color: aliceblue; */
   position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 20px solid;
    border-top-color: chartreuse;
    border-bottom-color: chartreuse;
    animation-name: rotate;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation-timing-function: ease-in; */
}

.daxil{
    position: absolute;
    top: 17%;
    left: 17%;
    transform: translate(-50% -50%);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 20px solid;
    border-top-color: chartreuse;
    border-bottom-color: chartreuse;
    animation-name: rotate;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation-timing-function: ease-in; */
 
}
.daxil2{
    position: absolute;
    top: 25%;
    left: 22%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font: 300 20px var(--hg) ;
    transform: translate(-50% -50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 20px solid;
    border-top-color: chartreuse;
    border-bottom-color: chartreuse;
    animation-name: rotate;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
animation-timing-function: linear;
    
}
@keyframes rotate {
    0%{
        box-shadow: 1px 1px 1px white;
        border-top-color: chartreuse;
    }
    50%{
         border-top-color: rgb(233, 109, 8);
        border-bottom-color: rgb(233, 109, 8);
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 6px 6px 6px white;
        border-top-color: chartreuse;
        border-bottom-color: chartreuse;

    }
}


